<%= image_tag("logo_rails.jpg",size:"272 x 48",alt:"Google") %>

<div class="menubar">
  <%= menu_link_to "Top",root_path %>
  &nbsp;|&nbsp; <%= menu_link_to "ニュース", "#" %>
  &nbsp;|&nbsp; <%= menu_link_to "ブログ", "#" %>
  &nbsp;|&nbsp; <%= menu_link_to "会員名簿", :members %>
  &nbsp;|&nbsp; <%= menu_link_to "管理ページ", "#" %>
</div>
